* {
    
}

/* Tag Name */
body {
    background-image: radial-gradient( circle farthest-corner at 1.3% 2.8%,  rgba(239,249,249,1) 0%, rgba(182,199,226,1) 100.2% );
    /* background: rgba(202, 202, 202, 0.61); */
}
/* Class */
.container {
    max-width: 750px;
    margin: auto;
    padding-top: 10px;
    margin-top: 20px;
}
.card {
    padding: 10px;
    background: white;
    margin-bottom: 10px;
}
.card p {
    font-size: 14px;
}
.html {
    background: #f06932;
    color: white;
}
.css {
    background: rgba(48, 106, 241, 1);
    color: white;
}
/* Id */
#header {
    background: #eee;
    padding: 10px;
}

#header, .html, .css {
    margin-bottom: 10px;
}
